---
apiVersion: v1
kind: Service
metadata:
  annotations:
    derrick.service.type: nodeport
    derrick.version: {{ derrick_version }}
  labels:
    derrick.service: {{ project_name }}
  name: {{ project_name }}
spec:
  ports:
  - name: "80"
    port: 80
    targetPort: 80
  selector:
    derrick.service: {{ project_name }}
  type: NodePort
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    derrick.version: {{ derrick_version }}
  labels:
    derrick.service: {{ project_name }}
  name: {{ project_name }}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        derrick.service: {{ project_name }}
    spec:
      containers:
      - image: {{ image_with_tag }}
        name: web
        ports:
        - containerPort: 80
