---
apiVersion: v1
kind: Service
metadata:
  annotations:
    derrick.service.type: nodeport
    derrick.version: {{ .DerrickVersion }}
  labels:
    derrick.service: {{ .ProjectName }}
  name: {{ .ProjectName }}
spec:
  ports:
  - name: "8080"
    port: 8080
    targetPort: 8080
  selector:
    derrick.service: {{ .ProjectName }}
  type: NodePort
---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    derrick.version: {{ .DerrickVersion }}
  labels:
    derrick.service: {{ .ProjectName }}
  name: {{ .ProjectName }}
spec:
  selector:
    matchLabels:
      derrick.service: {{ .ProjectName }}
  replicas: 1
  template:
    metadata:
      labels:
        derrick.service: {{ .ProjectName }}
    spec:
      containers:
      - image: {{ .ImageWithTag }}
        name: web
        ports:
        - containerPort: 8080
