apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .ProjectName }}
  labels:
    app: {{ .ProjectName }}
spec:
  selector:
    matchLabels:
      app: {{ .ProjectName }}
  template:
    metadata:
      labels:
        app: {{ .ProjectName }}
    spec:
      containers:
      - name: java-app
        image: <your-image-name>
        resources:
          requests:
            cpu: 1
            memory: 1500M
          limits:
            cpu: 2
            memory: 1500M
        env:
        - name: MY_CPU_REQUEST
          valueFrom:
            resourceFieldRef:
              containerName: test-container
              resource: requests.cpu
        - name: MY_CPU_LIMIT
          valueFrom:
            resourceFieldRef:
              containerName: java-app
              resource: limits.cpu
        - name: MY_MEM_REQUEST
          valueFrom:
            resourceFieldRef:
              containerName: test-container
              resource: requests.memory
        - name: MY_MEM_LIMIT
          valueFrom:
            resourceFieldRef:
              containerName: test-container
              resource: limits.memory
