apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .ProjectName }}
  labels:
    app: {{ .ProjectName }}
spec:
  selector:
    matchLabels:
      app: {{ .ProjectName }}
  template:
    metadata:
      labels:
        app: {{ .ProjectName }}
    spec:
      containers:
      - name: java-app
        image: <your-image-name>
        resources:
          requests:
            cpu: 1
            memory: 1500M
          limits:
            cpu: 2
            memory: 1500M
        ports:
        - containerPort: 8080
        readinessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 2
          failureThreshold: 1
          successThreshold: 1
        livenessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 20
          timeoutSeconds: 2
          failureThreshold: 1
          successThreshold: 1
        env:
        {{- if .JavaToolOptions}}
        - name: JAVA_TOOL_OPTIONS
          value: "{{.JavaToolOptions}}"{{end}}
        - name: MY_CPU_REQUEST
          valueFrom:
            resourceFieldRef:
              containerName: java-app
              resource: requests.cpu
        - name: MY_CPU_LIMIT
          valueFrom:
            resourceFieldRef:
              containerName: java-app
              resource: limits.cpu
        - name: MY_MEM_REQUEST
          valueFrom:
            resourceFieldRef:
              containerName: java-app
              resource: requests.memory
        - name: MY_MEM_LIMIT
          valueFrom:
            resourceFieldRef:
              containerName: java-app
              resource: limits.memory
